<main class="h-screen  w-full max-w-screen-sm lg:max-w-screen-lg flex flex-col mx-auto overflow-hidden">
  <div class="m-auto max-w-screen-lg px-2 gap-2 flex flex-col lg:flex-row">
    <div class=" relative h-[250px] w-full max-w-sm mx-auto">
      <img ngSrc="/assets/FotoMia.png" alt="foto mia" fill="" class="object-cover foto">
    </div>
    <section class="flex flex-col items-start">
        <h1 class="card__title">Hi, It's <span class="card__sub__text">Andrés</span></h1>
        <p class="card__subtitle"> I'm a <span class="card__sub__text ">Web Developer</span></p>
        <p class="card__text">I'm a Front-End Developer enthusiast with a penchant for creating intuitive and dynamic user experience, using Angular as my main tool for development </p>
        <div class="flex ">
          <a href="https://www.linkedin.com/in/andres-pozo-97453223a"><img ngSrc="/assets/linkedin.png" alt="img linkedin" width="35" height="35" class="links"></a>
          <a href="https://github.com/ArpionX"><img ngSrc="/assets/github.png" alt="igm git" width="35" height="35" class="links"></a>

        </div>

    </section>
  </div>
  <div class="slider" style="
    --width: 100px;
    --height: 85px;
    --quantity: 4;
    --duration: 10s;
    ">
    <div class="list">
      <div class="item" style="--position: 1"><img alt="" ngSrc="/assets/images/slider1_1.png" fill=""></div>
      <div class="item" style="--position: 2"><img alt="" ngSrc="/assets/images/slider1_2.png" fill=""></div>
      <div class="item" style="--position: 3"><img alt="" ngSrc="/assets/images/slider1_3.png" fill=""></div>
      <div class="item" style="--position: 4"><img alt="" ngSrc="/assets/images/slider1_4.png" fill=""></div>
    </div>
  </div>
</main>

<div>
  skills
</div>
<div>
  proyectos
</div>
contactame
