<p>aqui iria toda la informacion que se necesitaria que carge una vez llegada a la zona</p>
<div [class]="" [class.expanded]="">

</div>
<h1>Aqui va un lazy loading de el footer</h1>
<article>aqui un articulo y debajo el footer</article>
<section>
  <ul>
    <li>hola</li>
    <li>hola2</li>
    <li>hola3</li>
  </ul>
</section>
<section>
  <ul>
    <li>hola</li>
    <li>hola2</li>
    <li>hola3</li>
  </ul>
</section>
<a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos">Github iconos creados por Pixel perfect - Flaticon</a>
