.menu{
  display: none;
  position: fixed;
  top: 30;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 1001;
  background-color: beige;
}
.caja{
  background-color: aqua;
  padding: 3rem;
}
.aparecer{
  animation-name: aparecer;
  animation-duration: 0.5s;
  display: block;
}
.desaparecer{
  animation-name: desaparecer;
  animation-duration: 0.5s;
  display: hidden;
}
@keyframes aparecer {
  0% { right: -100%; }
  100% { right: 0; }
}
@keyframes desaparecer {
  0% { right: 0; }
  100% { right: -100%; }
}
