<main class="max-w-screen-lg m-auto overflow-hidden">
  <div class="h-screen">

  </div>
  <div class="slider" style="
  --width:250px;
  --height: 245px;
  --quantity: 8;
  --duration: 20s;
  --small: 90px;
  ">
    <div class="list">
      <div class="item -rotate-90" style="--position: 1"><img class=""    alt="" ngSrc="/assets/images/slider2_1.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 2"><img alt="" ngSrc="/assets/images/slider2_2.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 3"><img alt="" ngSrc="/assets/images/slider2_3.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 4"><img alt="" ngSrc="/assets/images/slider2_4.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 5"><img alt="" ngSrc="/assets/images/slider2_5.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 6"><img alt="" ngSrc="/assets/images/slider2_6.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 7"><img alt="" ngSrc="/assets/images/slider2_7.png" fill=""></div>
      <div class="item -rotate-90" style="--position: 8"><img alt="" ngSrc="/assets/images/slider2_8.png" fill=""></div>
    </div>
  </div>
  <a href="" routerLink="user">usuario</a>
  <h1 id="reading-the-full-response">Reading the Full Response</h1>
  <p>This is the content of the section.</p>

</main>

